/* Background color */
body {
    background-color: #1c1b1b;
}

/* Navbar container */
.navbar {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #01233D;
    color: white;
    position: sticky;
    top: 0;
}

/* Logo linking to home page */
#logo_link {
    text-decoration: none;
    color: white;
    }

/* To make links in row */
#links_to_pages {
    display: flex;
}

/* Logo on navbar*/
.logo {
    display: flex;
   }

/* Cart image on navbar */
#cart_img {
   margin-left: 420px;
   }

/* Logo title */
#logo_title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

/*  nav bar link row */
.nav_links {
    padding-left: 160px;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Nav abr links <a> */
.nav_links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    transition: 0.3s;
}

/* Hover effect on navbar*/
.nav_links a:hover {
    background-color: #234c6b;
    border-radius: 5px;
}

/* Navbar links */
.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 160px;
}

/* Last 3 icons in the navbar */
.nav_right {
    margin-left: 665px;   /* pushes icons to the right */
    margin-right: 10px;
    padding-top: 2px;
    display: flex;
    gap: 20px;
}

/* Display products in row till space ends */
#product-list, #phone-list, #shirt-list, #laptop-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 25px;
}

/* Product display */
.product {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: green;
    background-color: #262626;
    color: white;
}

.product-link{
    text-decoration:none; /* Link underlines removed */
    }

/* Navbar length for homepage and category1 */
.nav_right, #cat1_s-nav {
    margin-left: 660px;
}

/* Bar with number of results and sort button */
#data-bar {
    color: White;
    font-size: 20px;
    padding-top:70px;
}

#data-bar1 {
    display: flex;  /* Make the "results" and sort button in line */
}

#sort-feature {
    margin-left: 80%;  /* To move sort button to the right */
}

/* Sort button */
#sort-feature {
  padding: 0px 8px;
  font-size: 14px;
  background-color: #1f1f1f;
  color: white;
  border: 3px solid #5AC6CA;
  border-radius: 20px;
  outline: none;
  width: 140px;
}

.nav_right a{
    padding-top: 20px;
}