/* Background color */
body {
    background-color: #1c1b1b;
}

/* Navbar container */
.navbar {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #01233D;
    color: white;
    position: sticky;
    top: 0;
}

/* Logo linking to home page */
#logo_link {
    text-decoration: none;
    color: white;
    }

/* To make links in row */
#links_to_pages {
    display: flex;
}

/* Logo on navbar*/
.logo {
    display: flex;
   }

/* Logo title */
#logo_title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

/*  nav bar link row */
.nav_links {
    padding-left: 160px;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Nav abr links <a> */
.nav_links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    transition: 0.3s;
}

/* Hover effect on navbar*/
.nav_links a:hover {
    background-color: #234c6b;
    border-radius: 5px;
}

/* Navbar links */
.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 160px;
}

#sp_navLink1, #sp_navLink2 , #sp_navLink3, #sp_navLink4{
    padding-left: 10px;
}

/* Last 3 icons in the navbar */
.nav_right {
    margin-right: 10px;
    padding-top: 2px;
    display: flex;
    gap: 20px;
}

/* Display products in row till space ends */
#product-list, #phone-list, #shirt-list, #laptop-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 25px;
}

/* Product display */
.product {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: green;
    background-color: #262626;
    color: white;
}

.product-link{
    text-decoration:none; /* Link underlines removed */
    }

/* Navbar length for homepage and category1 */
.nav_right {
    margin-left: 660px;
}

/* Bar with number of results and sort button */
#data-bar {
    color: White;
    font-size: 20px;
    padding-top:70px;
}

#data-bar1 {
    display: flex;  /* Make the "results" and sort button in line */
}

#sort-feature {
    margin-left: 80%;  /* To move sort button to the right */
}

/* Sort button */
#sort-feature {
  padding: 0px 8px;
  font-size: 14px;
  background-color: #1f1f1f;
  color: white;
  border: 3px solid #5AC6CA;
  border-radius: 20px;
  outline: none;
  width: 140px;
}

.nav_right a {
    padding-top: 20px;
}

#product_details_display {
    color: White;
}

#product-title_detail {
    font-size: 38px;
    text-align: center;
    margin-top: 0px;
    padding-top: 125px;
}

#product-image_detail {
    margin-left: 70px;
    border-radius: 8px;
    border: 6px solid #5AC6CA;
    padding: 10px;
}

#detail_row {
    display: flex;
}

#rating_price_buttons_detail {
    font-size: 22px;
    margin-left: 35px;
    margin-top: 55px;
}

#shipping_detail, #description_detail, #dimension_details_head, #warranty_detail {
    margin-left: 70px;
    margin-top: 35px;
    font-size: 20px;
}

.dimension_details {
    margin-left: 85px;
}

#shipping_detail, #warranty_detail {
    font-size: 18px;
}

#reviews {
    margin-left: 70px;
    margin-top: 55px;
    border: 5px solid #5AC6CA;
    padding-left: 25px;
}

.review {
    display: flex;
    gap: 50px;
    list-style: none;
    border: 3px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

#last_review_box {
    margin-bottom: 10px;
}

.reviewer_name {
    font-size: 18px;
    font-weight: bold;
}

.comment {
    font-weight: 18px;
    margin-left: 55px;
}

#googleLoginBtn{
    margin-left: 44%
}

#googleLoginBtn {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 15px;
    background: white;
    cursor: pointer;
    font-size: 20px;
    border: 4px solid #5AC6CA;
    border-radius: 10px;
    justify-content: center;

}
#googleLoginBtn img {
    height: 50px;
}

#failedLoginText{
    display: none;
    color: red;
    font-size: 22px;
    margin-left: 47%;
    margin-top: 100px;
}

#userName {
    color: #5AC6CA;
    margin-left: 42%;
    font-size: 30px;
}

#userEmail {
    margin-left: 40%;
    color: #5AC6CA;
    font-size: 23px;
}

#logoutBtn {
    color: White;
    background-color: red;
    border-radius:5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid white;
    margin-left: 46%;
}

#fav_button {
    background: none;
    border: 3px solid #5AC6CA;
    border-radius: 8px;
    padding: 8px 10px 5px 10px;
}

#cart_button {
    background: none;
    border: 3px solid #5AC6CA;
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px 10px 5px 10px;

}

#fav_button:hover {
    background-color:
}